.social
  if (theme.widgets.sharing.twitter)
    - var twitterLink = "https://twitter.com/intent/tweet?url=#{item.permalink}&text=#{item.title}&via=#{theme.sharing.twitter}";
    a.social__button(href=twitterLink, target="_blank") Share on Twitter
  if (theme.widgets.sharing.facebook)
    - var facebookLink = "https://facebook.com/sharer.php?u=#{item.permalink}";
    a.social__button(href=facebookLink, target="_blank") Share on Facebook
