.article
  .article__intro
    if (page && page.thumbnail)
      - var img_big = page.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_640/');
      - var img_small = page.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_320/');
      - var img_srcset = "#{img_small} 320w, #{img_big} 640w";
      .article__thumbnail
        img.article__thumb(src=img_big, alt=page.title, srcset=img_srcset, sizes="(max-width: 340px) 320px, 640px")
    if (page && page.title)
      h2.article__title= page.title
    if (page && page.layout == "post" && page.date)
      .article__details
        - var article_published = "On: #{page.date.format(config.date_format)}";
        .article__meta= article_published
        if (page && page.author)
          - var article_author = "By: #{page.author}";
          .article__meta= article_author

if (theme && theme.widgets.breadcrumbs)
  include article/breadcrumbs

if (page && article.content)
  .article__content
    page.content

  if (page.layout == 'post')
    .article__details
      if (page && page.tags.length)
        include article/tags
      if (theme && theme.widgets.sharing)
        include article/social

if (page && page.layout == "post" && theme && theme.widgets.disqus)
  include article/comments
