if (page && page.category)
  - var title = "Category: " + page.category;
else if (page && page.tag)
  - var title = "Tag: " + page.tag;
else if (page && page.archive)
  if (page.year)
    - var title = page.year + (page.month ? '/' + page.month : '');
  else
    - var title = "Archives";

if (title)
  h1.archive__title= title

if (page && page.posts)
  .article-list
    each vpost, kpost in page.posts.toArray()
      article.article__item
        .article__intro
          if (vpost && vpost.thumbnail)
            - var img_big = vpost.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_640/');
            - var img_small = vpost.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_320/');
            - var img_srcset = img_small + " 320w, " + img_big + " 640w";
            a.article__thumb(href=url_for(vpost.path))
              img(src=img_big, alt=vpost.title, srcset=img_srcset sizes="(max-width: 340px) 320px, 640px")
          if (vpost && vpost.path && vpost.title)
            h2.article__title
              a.article__link(href=vpost.path)= vpost.title
          if (vpost && vpost.date)
            .article__details
              - var article_published = "On: " + vpost.date.format(config.date_format);
              .article__meta= article_published
              if (vpost && vpost.author)
                - var article_author = "By: " + vpost.author;
                .article__meta= article_author

        if (vpost && vpost.excerpt)
          .article__content!= vpost.excerpt

        if (vpost && vpost.path)
          .article__details
            a.article__link(href=vpost.path) Read more

if (page && (page.prev || page.next))
  include article/pagination

