if (page && page.posts)
  .articles
    if (page && page.category)
      - var title = "Category: " + page.category;
    else if (page && page.tag)
      - var title = "Tag: " + page.tag;
    else if (page && page.archive)
      if (page && page.year)
        - var title = page.year + (page.month ? '/' + page.month : '');
      else
        - var title = "Archives";
    if (title && page && page.layout == "archive")
      h1.articles__title= title
    each vpost, kpost in page.posts.toArray()
      article.article
        if (vpost && vpost.path && vpost.title)
          h1.article__title
            a.link(href=urlFor(vpost.path))= vpost.title
        if (vpost && vpost.thumbnail)
          - var img_big = vpost.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_640/');
          - var img_small = vpost.thumbnail.replace('upload/', 'upload/f_auto,q_auto,w_320/');
          - var img_srcset = img_small + " 320w, " + img_big + " 640w";
          a.article__thumb(href=urlFor(vpost.path))
            img(src=img_big, alt=vpost.title, srcset=img_srcset sizes="(max-width: 340px) 320px, 640px")
        if (vpost && vpost.excerpt)
          .content!= vpost.excerpt

        if (vpost && vpost.path)
          p
            a.tally(href=urlFor(vpost.path)) Read more

if (page && (page.prev || page.next))
  nav.pagination
    ul.pagination__list.pagination__list--inline
      if (page && page.prev)
        li.pagination__item
          a.pagination__link.pagination__link--prev(href=urlFor(page.prev_link)) Previous
      if (page && page.next)
        li.pagination__item
          a.pagination__link.pagination__link--next(href=urlFor(page.next_link)) Next
